#NODE MODULES#
node_modules

#NPM LOGS#
npm-debug.log

#MONGO DIRECTORY#
cache_db/*
!cache_db/mongodb.conf

#GENERATED ASSETS#
public/assets/*
!public/assets/fonts

#PERSONAL CONFIG FILE#
config.json

#ERROR LOG#
error.log