/*Champion Images*/
.champ-266{
    /*Aatrox*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.champ-103{
    /*Ahri*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.champ-84{
    /*Akali*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.champ-12{
    /*Alistar*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.champ-32{
    /*Amumu*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.champ-34{
    /*Anivia*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -320px 0px;
}
.champ-1{
    /*Annie*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -384px 0px;
}
.champ-22{
    /*Ashe*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -448px 0px;
}
.champ-268{
    /*Azir*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.champ-432{
    /*Bard*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.champ-53{
    /*Blitzcrank*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -576px 0px;
}
.champ-63{
    /*Brand*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.champ-201{
    /*Braum*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.champ-51{
    /*Caitlyn*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.champ-69{
    /*Cassopeia*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.champ-31{
    /*Cho'Gath*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -256px -64px;
}
.champ-42{
    /*Corki*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -320px -64px;
}
.champ-122{
    /*Darius*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -384px -64px;
}
.champ-131{
    /*Diana*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -448px -64px;
}
.champ-119{
    /*Draven*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -512px -64px;
}
.champ-36{
    /*Dr. Mundo*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -576px -64px;
}
.champ-245{
    /*Ekko*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.champ-60{
    /*Elise*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.champ-28{
    /*Evelynn*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.champ-81{
    /*Ezreal*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.champ-9{
    /*Fiddlesticks*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -192px -128px;
}
.champ-114{
    /*Fiora*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.champ-105{
    /*Fizz*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -320px -128px;
}
.champ-3{
    /*Galio*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -384px -128px;
}
.champ-41{
    /*Gangplank*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -448px -128px;
}
.champ-86{
    /*Garen*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -512px -128px;
}
.champ-150{
    /*Gnar*/
    background-image: url('/assets/img/ChampionImages/champion0.png');
    background-repeat: no-repeat;
    background-position: -576px -128px;
}
.champ-79{
    /*Gragas*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.champ-104{
    /*Graves*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.champ-120{
    /*Hecarim*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.champ-74{
    /*Heimerdinger*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.champ-420{
    /*Illaoi*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -448px 0px;
}
.champ-39{
    /*Irelia*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.champ-40{
    /*Janna*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -320px 0px;
}
.champ-59{
    /*Jarvan IV*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -384px 0px;
}
.champ-24{
    /*Jax*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -448px 0px;
}
.champ-126{
    /*Jayce*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.champ-202{
    /*Jhin*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.champ-222{
    /*Jinx*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -576px 0px;
}
.champ-429{
    /*Kalista*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.champ-43{
    /*Karma*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.champ-30{
    /*Karthus*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.champ-38{
    /*Kassadin*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.champ-55{
    /*Katarina*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -256px -64px;
}
.champ-10{
    /*Kayle*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -320px -64px;
}
.champ-85{
    /*Kennen*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -384px -64px;
}
.champ-121{
    /*Kha'Zix*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -448px -64px;
}
.champ-203{
    /*Kindred*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -384px 0px;
}
.champ-96{
    /*Kog'Maw*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -512px -64px;
}
.champ-7{
    /*LeBlanc*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -576px -64px;
}
.champ-64{
    /*Lee Sin*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.champ-89{
    /*Leona*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.champ-127{
    /*Lissandra*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.champ-236{
    /*Lucian*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -192px -128px;
}
.champ-117{
    /*Lulu*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.champ-99{
    /*Lux*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -320px -128px;
}
.champ-54{
    /*Malphite*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -384px -128px;
}
.champ-90{
    /*Malzahar*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -448px -128px;
}
.champ-57{
    /*Maokai*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -512px -128px;
}
.champ-11{
    /*Master Yi*/
    background-image: url('/assets/img/ChampionImages/champion1.png');
    background-repeat: no-repeat;
    background-position: -576px -128px;
}
.champ-21{
    /*Miss Fortune*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.champ-82{
    /*Mordekaiser*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.champ-25{
    /*Morgana*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.champ-267{
    /*Nami*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.champ-75{
    /*Nasus*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -320px 0px;
}
.champ-111{
    /*Nautilus*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -384px 0px;
}
.champ-76{
    /*Nidalee*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -448px 0px;
}
.champ-56{
    /*Nocturne*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.champ-20{
    /*Nunu*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -576px 0px;
}
.champ-2{
    /*Olaf*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.champ-61{
    /*Orianna*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.champ-80{
    /*Pantheon*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.champ-78{
    /*Poppy*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.champ-133{
    /*Quinn*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -256px -64px;
}
.champ-33{
    /*Rammus*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -320px -64px;
}
.champ-421{
    /*Rek'Sai*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -384px -64px;
}
.champ-58{
    /*Renekton*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -448px -64px;
}
.champ-107{
    /*Rengar*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -512px -64px;
}
.champ-92{
    /*Riven*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -576px -64px;
}
.champ-68{
    /*Rumble*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.champ-13{
    /*Ryze*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.champ-113{
    /*Sejuani*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.champ-35{
    /*Shaco*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -192px -128px;
}
.champ-98{
    /*Shen*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.champ-102{
    /*Shyvana*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -320px -128px;
}
.champ-27{
    /*Singed*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -384px -128px;
}
.champ-14{
    /*Sion*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -448px -128px;
}
.champ-15{
    /*Sivir*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -512px -128px;
}
.champ-72{
    /*Skarner*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -576px -128px;
}
.champ-37{
    /*Sona*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.champ-16{
    /*Soraka*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.champ-50{
    /*Swain*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.champ-134{
    /*Syndra*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.champ-223{
    /*Tahm Kench*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -320px 0px;
}
.champ-91{
    /*Talon*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.champ-44{
    /*Taric*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -320px 0px;
}
.champ-17{
    /*Teemo*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -384px 0px;
}
.champ-412{
    /*Thresh*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -448px 0px;
}
.champ-18{
    /*Tristana*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.champ-48{
    /*Trundle*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -576px 0px;
}
.champ-23{
    /*Tryndamere*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.champ-4{
    /*Twisted Fate*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.champ-29{
    /*Twitch*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.champ-77{
    /*Udyr*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.champ-6{
    /*Urgot*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -256px -64px;
}
.champ-110{
    /*Varus*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -320px -64px;
}
.champ-67{
    /*Vayne*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -384px -64px;
}
.champ-45{
    /*Veigar*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -448px -64px;
}
.champ-161{
    /*Vel'Koz*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -512px -64px;
}
.champ-254{
    /*Vi*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -576px -64px;
}
.champ-112{
    /*Viktor*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.champ-8{
    /*Vladimir*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.champ-106{
    /*Volibear*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.champ-19{
    /*Warwick*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -192px -128px;
}
.champ-62{
    /*Wukong*/
    background-image: url('/assets/img/ChampionImages/champion2.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.champ-101{
    /*Xerath*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.champ-5{
    /*Xin Zhao*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -320px -128px;
}
.champ-157{
    /*Yasuo*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -384px -128px;
}
.champ-83{
    /*Yorick*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -448px -128px;
}
.champ-154{
    /*Zac*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -512px -128px;
}
.champ-238{
    /*Zed*/
    background-image: url('/assets/img/ChampionImages/champion3.png');
    background-repeat: no-repeat;
    background-position: -576px -128px;
}
.champ-115{
    /*Ziggs*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.champ-26{
    /*Zilean*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.champ-143{
    /*Zyra*/
    background-image: url('/assets/img/ChampionImages/champion4.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}