a {
    transition: color .2s, background .2s;
    color: $lightBlue;
    text-decoration: none;
    &:hover {
        color: $darkBlue;
        text-decoration: underline;
    }
}

input {
    &[type="text"] {
        box-sizing: border-box;
        height: $inputHeight;
        width: $inputWidth;
        font-size: 12px;
        padding: $inputPaddingTopBottom $inputPaddingLeftRight;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        transition: border 0.1s;
        &:focus {
            outline: none;
            border: 1px solid $lightBlue;
            box-shadow: 0 0 2px $lightBlue;
        }
    }
}
