/*Items*/
.item-1001{
    /*Boots of Speed*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.item-1004{
    /*Faerie Charm*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px 0px;
}
.item-1006{
    /*Rejuvenation Bead*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.item-1011{
    /*Giant's Belt*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px 0px;
}
.item-1018{
    /*Cloak of Agility*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.item-1026{
    /*Blasting Wand*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px 0px;
}
.item-1027{
    /*Sapphire Crystal*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.item-1028{
    /*Ruby Crystal*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px 0px;
}
.item-1029{
    /*Cloth Armor*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.item-1031{
    /*Chain Vest*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px 0px;
}
.item-1033{
    /*Null-Magic Mantle*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -32px;
}
.item-1036{
    /*Long Sword*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -32px;
}
.item-1037{
    /*Pick Axe*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -32px;
}
.item-1038{
    /*B.F. Sword*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -32px;
}
.item-1039{
    /*Hunter's Talisman*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -32px;
}
.item-1041{
    /*Hunter's Machete*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -160px -160px;
}
.item-1042{
    /*Dagger*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -32px;
}
.item-1043{
    /*Recurve Bow*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -32px;
}
.item-1051{
    /*Brawler's Glove*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -32px;
}
.item-1052{
    /*Amplifying Tome*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -32px;
}
.item-1053{
    /*Vampiric Scepter*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -32px;
}
.item-1054{
    /*Doran's Shield*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.item-1055{
    /*Doran's Blade*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -64px;
}
.item-1056{
    /*Doran's Ring*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.item-1057{
    /*Negatron Cloak*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -64px;
}
.item-1058{
    /*Needlessly Large Rod*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.item-1062{
    /*Prospector's Blade*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -64px;
}
.item-1063{
    /*Prospector's Ring*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.item-1082{
    /*The Dark Seal*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -192px -160px;
}
.item-1083{
    /*Cull*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -224px -160px;
}
.item-1300{
    /*Berserker's Greaves Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: 0px -224px;
}
.item-1301{
    /*Berserker's Greaves Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -32px -224px;
}
.item-1302{
    /*Berserker's Greaves Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -224px;
}
.item-1303{
    /*Berserker's Greaves Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px -224px;
}
.item-1305{
    /*Boots of Swiftness Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -160px -224px;
}
.item-1306{
    /*Boots of Swiftness Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -192px -224px;
}
.item-1307{
    /*Boots of Swiftness Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -224px -224px;
}
.item-1308{
    /*Boots of Swiftness Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -256px -224px;
}
.item-1310{
    /*Sorceror's Boots Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: 0px -256px;
}
.item-1311{
    /*Sorceror's Boots Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -32px -256px;
}
.item-1312{
    /*Sorceror's Boots Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -256px;
}
.item-1313{
    /*Sorceror's Boots Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px -256px;
}
.item-1315{
    /*Ninja Tabi Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -160px -256px;
}
.item-1316{
    /*Ninja Tabi Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -192px -256px;
}
.item-1317{
    /*Ninja Tabi Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -224px -256px;
}
.item-1318{
    /*Ninja Tabi Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -256px -256px;
}
.item-1320{
    /*Mercury Treads Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: 0px -288px;
}
.item-1321{
    /*Mercury Treads Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -32px -288px;
}
.item-1322{
    /*Mercury Treads Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -288px;
}
.item-1323{
    /*Mercury Treads Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px -288px;
}
.item-1325{
    /*Boots of Mobility Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -160px -288px;
}
.item-1326{
    /*Boots of Mobility Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -192px -288px;
}
.item-1327{
    /*Boots of Mobility Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -224px -288px;
}
.item-1328{
    /*Boots of Mobility Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -256px -288px;
}
.item-1330{
    /*Boots of Lucidity Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.item-1331{
    /*Boots of Lucidity Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px 0px;
}
.item-1332{
    /*Boots of Lucidity Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -64px 0px;
}
.item-1333{
    /*Boots of Lucidity Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -96px 0px;
}
.item-1400{
    /*Stalker's Blade Enchantment: Warrior*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px -160px;
}
.item-1401{
    /*Stalker's Blade Enchantment: Cinderhulk*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -288px -160px;
}
.item-1402{
    /*Stalker's Blade Enchantment: Runic Echoes*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -192px;
}
.item-1403{
    /*Stalker's Blade Enchantment: Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -192px;
}
.item-1408{
    /*Tracker's Knife Enchantment: Warrior*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -192px -192px;
}
.item-1409{
    /*Tracker's Knife Enchantment: Cinderhulk*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -224px -192px;
}
.item-1410{
    /*Tracker's Knife Enchantment: Runic Echoes*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px -192px;
}
.item-1411{
    /*Tracker's Knife Enchantment: Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -288px -192px;
}
.item-1412{
    /*Skirmisher's Sabre Enchantment: Warrior*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -224px;
}
.item-1413{
    /*Skirmisher's Sabre Enchantment: Cinderhulk*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -224px;
}
.item-1414{
    /*Skirmisher's Sabre Enchantment: Runic Echoes*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -64px -224px;
}
.item-1415{
    /*Skirmisher's Sabre Enchantment: Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -96px -224px;
}
.item-2003{
    /*Health Potion*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -96px;
}
.item-2009{
    /*Total Biscuit of Rejuvenation*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -96px;
}
.item-2010{
    /*Total Biscuit of Rejuvenation*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -128px;
}
.item-2015{
    /*Kircheis Shard*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -128px -224px;
}
.item-2031{
    /*Refillable Potion*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -160px -224px;
}
.item-2032{
    /*Hunter's Potion*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -192px -224px;
}
.item-2033{
    /*Corrupting Potion*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -224px -224px;
}
.item-2043{
    /*Vision Ward*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -96px;
}
.item-2045{
    /*Ruby Sightstone*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -96px;
}
.item-2047{
    /*Oracle's Extract*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -96px;
}
.item-2049{
    /*Sightstone*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -96px;
}
.item-2050{
    /*Explorer's Ward*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.item-2051{
    /*Guardian's Horn*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -128px;
}
.item-2052{
    /*Poro-Snax*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.item-2053{
    /*Raptor Cloak*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -128px;
}
.item-2054{
    /*Diet Poro-Snax*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.item-2138{
    /*Elixir of Iron*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -128px;
}
.item-2139{
    /*Elixir of Sorcery*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -128px;
}
.item-2140{
    /*Elixir of Wrath*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.item-2301{
    /*Eye of the Watchers*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px -224px;
}
.item-2302{
    /*Eye of the Oasis*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -288px -224px;
}
.item-2303{
    /*Eye of the Equinox*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -256px;
}
.item-3001{
    /*Abyssal Scepter*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -128px;
}
.item-3003{
    /*Archangel's Staff*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -160px;
}
.item-3004{
    /*Manamune*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -160px;
}
.item-3006{
    /*Berserker's Greaves*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -160px;
}
.item-3007{
    /*Archangel's Staff (Crystal Scar)*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -160px;
}
.item-3008{
    /*Manamune (Crystal Scar)*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -160px;
}
.item-3009{
    /*Boots of Swiftness*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -160px;
}
.item-3010{
    /*Catalyst the Protector*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -160px;
}
.item-3020{
    /*Sorceror's Shoes*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -160px;
}
.item-3022{
    /*Frozen Mallet*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -160px;
}
.item-3024{
    /*Glacial Shroud*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -192px;
}
.item-3025{
    /*Iceborn Gauntlet*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -192px;
}
.item-3026{
    /*Guardian Angel*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -192px;
}
.item-3027{
    /*Rod of Ages*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -192px;
}
.item-3028{
    /*Chalice of Harmony*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -192px;
}
.item-3029{
    /*Rod of Ages (Crystal Scar)*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -192px;
}
.item-3031{
    /*Infiinity Edge*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -192px;
}
.item-3033{
    /*Mortal Reminder*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -256px;
}
.item-3034{
    /*Giant Slayer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -64px -256px;
}
.item-3035{
    /*Last Whisper*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -192px;
}
.item-3036{
    /*Lord Dominik's Regards: ;*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -96px -256px;
}
.item-3040{
    /*Seraph's Embrace*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -192px;
}
.item-3041{
    /*Mejai's Soulstealer*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -192px;
}
.item-3042{
    /*Muramana*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -224px;
}
.item-3043{
    /*Muramana #2*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -224px;
}
.item-3044{
    /*Phage*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -224px;
}
.item-3046{
    /*Phantom Dancer*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -224px;
}
.item-3047{
    /*Ninja Tabi*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -224px;
}
.item-3048{
    /*Seraph's Embrace #2*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -224px;
}
.item-3050{
    /*Zeke's Harbinger*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -224px;
}
.item-3052{
    /*Jaurim's Fist*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -128px -256px;
}
.item-3053{
    /*Sterak's Gage*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -96px -160px;
}
.item-3056{
    /*Ohmwrecker*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -224px;
}
.item-3057{
    /*Sheen*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -224px;
}
.item-3060{
    /*Banner of Command*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -224px;
}
.item-3065{
    /*Spirit Visage*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -256px;
}
.item-3067{
    /*Kindlegem*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -256px;
}
.item-3068{
    /*Sunfire Cape*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -256px;
}
.item-3069{
    /*Talisman of Ascension*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -256px;
}
.item-3070{
    /*Tear of the Goddess*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -256px;
}
.item-3071{
    /*The Black Cleaver*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -256px;
}
.item-3072{
    /*The Bloodthirster*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -256px;
}
.item-3073{
    /*Tear of the Goddess (Crystal Scar)*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -256px;
}
.item-3074{
    /*Ravenous Hydra*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -256px;
}
.item-3075{
    /*Thornmail*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -256px;
}
.item-3077{
    /*Tiamat*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: 0px -288px;
}
.item-3078{
    /*Trinity Force*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -32px -288px;
}
.item-3082{
    /*Warden's Mail*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -64px -288px;
}
.item-3083{
    /*Warmog's Armor*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -96px -288px;
}
.item-3084{
    /*Overlord's Bloodmail*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -128px -288px;
}
.item-3085{
    /*Runaan's Hurricane*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -160px -288px;
}
.item-3086{
    /*Zeal*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -192px -288px;
}
.item-3087{
    /*Statikk Shiv*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -224px -288px;
}
.item-3089{
    /*Rabadon's Deathcap*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -256px -288px;
}
.item-3090{
    /*Wooglet's Witchcap*/
    background-image: url('/assets/img/ItemImages/item0.png');
    background-repeat: no-repeat;
    background-position: -288px -288px;
}
.item-3091{
    /*Wit's End*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.item-3092{
    /*Frost Queen's Claim*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -32px 0px;
}
.item-3094{
    /*Rapid Firecannon*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -160px -256px;
}
.item-3096{
    /*Nomad's Medallion*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -96px 0px;
}
.item-3097{
    /*Targon's Brace*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.item-3098{
    /*Frostfang*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px 0px;
}
.item-3100{
    /*Lich Bane*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.item-3101{
    /*Stinger*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -224px 0px;
}
.item-3102{
    /*Banshee's Veil*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.item-3104{
    /*Lord Van Damm's Pillager*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -288px 0px;
}
.item-3105{
    /*Aegis of the Legion*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px -32px;
}
.item-3108{
    /*Fiendish Codex*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -32px;
}
.item-3110{
    /*Frozen Heart*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -96px -32px;
}
.item-3111{
    /*Mercury's Treads*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -32px;
}
.item-3112{
    /*Orb of Winter*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px -32px;
}
.item-3113{
    /*Aether Wisp*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px -32px;
}
.item-3114{
    /*Forbidden Idol*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -224px -32px;
}
.item-3115{
    /*Nashor's Tooth*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -256px -32px;
}
.item-3116{
    /*Rylai's Crystal Scepter*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -288px -32px;
}
.item-3117{
    /*Boots of Mobility*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px -64px;
}
.item-3122{
    /*Wicked Hatchet*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -32px -64px;
}
.item-3123{
    /*Executioner's Calling*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -192px -256px;
}
.item-3124{
    /*Guinsoo's Rageblade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.item-3133{
    /*Caulfield's Warhammer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -224px -256px;
}
.item-3134{
    /*Serrated Dirk*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -96px -64px;
}
.item-3135{
    /*Void Staff*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -64px;
}
.item-3136{
    /*Haunting Guise*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px -64px;
}
.item-3137{
    /*Dervish Blade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px -64px;
}
.item-3139{
    /*Mercurial Scimitar*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -224px -64px;
}
.item-3140{
    /*Quicksilver Sash*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -256px -64px;
}
.item-3142{
    /*Youmouu's Ghostblade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px -96px;
}
.item-3143{
    /*Randuin's Omen*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -32px -96px;
}
.item-3144{
    /*Bilgewater Cutlass*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -96px;
}
.item-3145{
    /*Hextech Revolver*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -96px -96px;
}
.item-3146{
    /*Hextech Gunblade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -96px;
}
.item-3147{
    /*Duskblade of Draktharr*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px -96px;
}
.item-3151{
    /*Liandry's Torment*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px -96px;
}
.item-3152{
    /*Will of the Ancients*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -224px -96px;
}
.item-3153{
    /*Blade of the RUined King*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -256px -96px;
}
.item-3155{
    /*Hexdrinker*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -288px -96px;
}
.item-3156{
    /*Maw of Malmortius*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.item-3157{
    /*Zhonya's Hourglass*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -32px -128px;
}
.item-3158{
    /*Boots of Lucidity*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.item-3165{
    /*Morellonomicon*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.item-3170{
    /*Moonflair Spellblade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -288px -128px;
}
.item-3174{
    /*Athene's Unholy Grail*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -160px;
}
.item-3180{
    /*Odyn's Veil*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -160px;
}
.item-3181{
    /*Sanguine Blade*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px -160px;
}
.item-3184{
    /*Entropy*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px -160px;
}
.item-3185{
    /*The Lightbringer*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -224px -160px;
}
.item-3187{
    /*Hextech Sweeper*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -256px -160px;
}
.item-3190{
    /*Locket of the Iron Solari*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -288px -160px;
}
.item-3191{
    /*Seeker's Armguard*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: 0px -192px;
}
.item-3196{
    /*The Hex Core mk-1*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -32px -192px;
}
.item-3197{
    /*The Hex Core mk-2*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -64px -192px;
}
.item-3198{
    /*Perfect Hex Core*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -96px -192px;
}
.item-3200{
    /*Prototype Hex Core*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -128px -192px;
}
.item-3211{
    /*Spectre's Cowl*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -160px -192px;
}
.item-3222{
    /*Mikael's Crucible*/
    background-image: url('/assets/img/ItemImages/item1.png');
    background-repeat: no-repeat;
    background-position: -192px -192px;
}
.item-3240{
    /*Boots of Speed Enchantment: Furor*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px -256px;
}
.item-3241{
    /*Boots of Speed Enchantment: Alacrity*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -288px -256px;
}
.item-3242{
    /*Boots of Speed Enchantment: Captain*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -288px;
}
.item-3243{
    /*Boots of Speed Enchantment: Distortion*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -288px;
}
.item-3285{
    /*Luden's Echo*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -192px -192px;
}
.item-3301{
    /*Ancient Coin*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px 0px;
}
.item-3302{
    /*Relic Shield*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -128px 0px;
}
.item-3303{
    /*Spellthief's Edge*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -160px 0px;
}
.item-3340{
    /*Warding Totem (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.item-3341{
    /*Sweeping Lens (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -224px 0px;
}
.item-3345{
    /*Soul Anchor (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -288px 0px;
}
.item-3348{
    /*Hextech Sweeper*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -288px -192px;
}
.item-3361{
    /*Greater Stealth Totem (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: 0px -32px;
}
.item-3362{
    /*Greater Vision Totem (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -32px -32px;
}
.item-3363{
    /*Farsight Alteration (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -32px;
}
.item-3364{
    /*Oracle Alteration (Trinket)*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px -32px;
}
.item-3401{
    /*Face of the Mountain*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -128px -32px;
}
.item-3460{
    /*Golden Transcendence*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -288px -96px;
}
.item-3461{
    /*Golden Transcendence (Disabled)*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -96px -288px;
}
.item-3504{
    /*Ardent Censer*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: 0px -128px;
}
.item-3508{
    /*Essence Reaver*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -32px -128px;
}
.item-3512{
    /*Zz'Rot Portal*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -128px;
}
.item-3599{
    /*The Black Spear*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -96px -128px;
}
.item-3671{
    /*Enchantment: Warrior*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -160px 0px;
}
.item-3672{
    /*Enchantment: Cinderhulk*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -192px 0px;
}
.item-3673{
    /*Enchantment: Runic Echoes*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -224px 0px;
}
.item-3674{
    /*Enchantment: Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px 0px;
}
.item-3706{
    /*Stalker's Blade*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -128px -128px;
}
.item-3711{
    /*Tracker's Knife*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -288px -128px;
}
.item-3715{
    /*Skirmisher's Sabre*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -64px -160px;
}
.item-3742{
    /*Dead Man's Plate*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -128px;
}
.item-3748{
    /*Titanic Hydra*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -128px -160px;
}
.item-3751{
    /*Bami's Cinder*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -224px -192px;
}
.item-3800{
    /*Righteous Glory*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -128px -192px;
}
.item-3801{
    /*Crystalline Bracer*/
    background-image: url('/assets/img/ItemImages/item2.png');
    background-repeat: no-repeat;
    background-position: -160px -192px;
}
.item-3812{
    /*Death's Dance*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -64px -288px;
}
.item-3901{
    /*Fire at Will*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -256px -128px;
}
.item-3902{
    /*Death's Daughter*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -288px -128px;
}
.item-3903{
    /*Raise Morale*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -160px;
}
.item-3930{
    /*Stalkers Blade Enchantment: Sated Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: 0px -32px;
}
.item-3931{
    /*Skirmisher's Sabre Enchantment: Sated Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -32px -32px;
}
.item-3932{
    /*Tracker's Knife Enchantment: Sated Devourer*/
    background-image: url('/assets/img/ItemImages/item3.png');
    background-repeat: no-repeat;
    background-position: -64px -32px;
}