    /*Summoner Spell Images*/
    .ss-1{
        background-image: url('/public/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -32px 0px;
    }
    .ss-2{
        background-image: url('/public/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -64px 0px;
    }
    .ss-3{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -128px 0px;
    }
    .ss-4{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -160px 0px;
    }
    .ss-6{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -192px 0px;
    }
    .ss-7{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -224px 0px;
    }
    .ss-11{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -64px -32px;
    }
    .ss-12{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -96px -32px;
    }
    .ss-13{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -256px 0px;
    }
    .ss-14{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -96px 0px;
    }
    .ss-17{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -288px 0px;
    }
    .ss-21{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }
    .ss-30{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: 0px -32px;
    }
    .ss-31{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -32px -32px;
    }
    .ss-32{
        background-image: url('/assets/img/SummonerSpellImages/spell0.png');
        background-repeat: no-repeat;
        background-position: -32px -32px; /*prolly not the right image, but the community will know*/
    }