////////////////////
// Element Styles //
////////////////////

$inputHeight: 30px;
$inputWidth: 200px;
$inputPaddingTopBottom: 5px;
$inputPaddingLeftRight: 10px;


/////////////////
// Text Styles //
////////////////

$pageFontFamily: Helvetica, sans-serif;

$headerFontSize: 20px;
$headerNavFontSize: 15px;

$footerTextColor: #999999;


//////////////////
// Layout Sizes //
//////////////////

$pageContentWidth: 980px;

$headerVerticalPadding: 5px;
$headerHorizontalPadding: 8px;
$headerTotalHeight: $headerFontSize + ($headerVerticalPadding * 2);
$headerInnerHeight: $headerFontSize;

$contentPadding: 10px;

$footerTopPadding: 20px;
$footerBottomPadding: 10px;

$pageTitleTopMargin: 10px;


////////////
// Colors //
////////////

$darkBlue: #1F5673;
$lightBlue: #759FBC;
$lightGray: #C0C5C1;

$headerBorderColor: $darkBlue;
$footerBorderColor: $lightGray;
