doctype html
html
    head
 
        title: block pageTitle
        link(rel='stylesheet', href='/assets/css/main.css')

    body

        header
            div(id='headerInnerWrapper')
                h1: a(href='/') LoLStepper
                nav: ul
                   li: a(href='/about') About

        section(id='content')
            form(id='searchContainer', action='/matches', method='get')
                input(type='text', id='search', name='summonerName', placeholder='Search for a summoner...')
            h1(id='pageTitle'): block pageTitle
            block content

        footer
            | &copy; 2015 LoLStepper
