doctype html
html
    head
 
        title: block pageTitle
        link(rel='stylesheet', href='/assets/css/main.css')
        block externalJs

    body

        header
            div(id='headerInnerWrapper')
                h1: a(href='/') LoLStepper
                nav: ul
                   li: a(href='/about') About

        section(id='content')
            form(id='searchContainer', action='/matches', method='get')
                input(type='text', id='search', name='summonerName', placeholder='Search for a summoner...')
                button(type='submit', id='searchIcon', class='fa fa-search')
            h1(id='pageTitle'): block pageTitle
            block content

        footer.
            <p>
                &copy; 2015 LoLStepper<br>
                <a href="#">Github Project</a>
            </p>
            <p>Font Awesome by Dave Gandy - <a href="http://fontawesome.io">http://fontawesome.io</a></p>
