extends layout

block pageTitle
    | Match History

block content
    p #{locals.summonerName}'s match history
    if locals.matchHistory.length
        each match in locals.matchHistory
            block matchInfo
                p: a(href='/match?matchId=#{match.matchId}') #{match.matchId}
