extends layout

//-temporary matchId display
block pageTitle
    | Match Information

block content
    #match-summary-container
        #blue-team-summary
            .team-summary-header
                if locals.match.team1.winner
                    | VICTORY
                else
                    | DEFEAT
        #red-team-summary
            .team-summary-header
                if locals.match.team2.winner
                    | VICTORY
                else
                    | DEFEAT